body {
    font-family: Arial, sans-serif;
    background-color: #060d1d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}

.video-container {
    width: 50%;
    padding: 20px;
}

.video-container video {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container {
    width: 50%;
}

.login-container form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container form p {
    margin-bottom: 10px;
}

.login-container .error-message {
    color: rgb(233, 0, 0);
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.login-container label {
    display: block;
    font-weight: bold;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button[type="submit"]:hover {
    background-color: #0056b3;
}
